<a href="https://colab.research.google.com/github/aayush1036/maths/blob/main/math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
import math
import pandas as pd
import numpy as np

In [ ]:
def my_trunc(num, decimals=4):
    factor = 10**decimals
    output = math.trunc(num*factor)/factor
    return output
my_trunc(1.123456789)

1.1234

We can use math.sin() to find the sine of an angle in degree 

example: math.sin(3.14) -- returns sin 180

To find the sin of an angle in degree

We can use math.sin(math.radians(180))

In [ ]:
print('Sin pi/6 radians',math.sin(math.pi/6))
print('Sin 30 degrees is', math.sin(math.radians(30)))
print('e^x= ',math.exp(2))

Sin pi/6 radians 0.49999999999999994
Sin 30 degrees is 0.49999999999999994
e^x=  7.38905609893065

# Calculating RK Method of 4th order (calculate separately for each increment in h)

In [ ]:
#Write function here 
def func(x,y):
    output = ((y**2)-(x**2))/((y**2)+(x**2))
    return output

In [ ]:
x0 = float(input('Enter the value of x0 '))
y0 = float(input('Enter the value of y0 '))
h = float(input('Enter the value of h '))

Enter the value of x0 0
Enter the value of y0 1
Enter the value of h 0.5

In [ ]:
def rk_4(x,y,h, decimal = 4):
    """"
    This function calculates the RK method of 4th order
    Inputs:
    x = x0 of the function (given in the question)
    y = y0 of the function (given in the question)
    h = h of the function (given in the question or calculate yourself)
    decimals = number of decimal places (optional). Default value = 4
    prints the value of k1, k2, k3, k4 and final answer of the function truncated up to 4 decimal places
    """
    k1 = h*func(x,y)
    k2 = h*func((x+h/2), (y+(k1/2)))
    k3 = h*func((x+h/2), (y+(k2/2)))
    k4 = h*func((x+h), (y+k3))
    k1= my_trunc(k1)
    k2= my_trunc(k2)
    k3= my_trunc(k3)
    k4= my_trunc(k4)
    final_ans = y+ (1/6*(k1+2*k2+2*k3+k4))
    final_ans = my_trunc(final_ans)
    print('K1 : {h}*f({x},{y}) = {k1}'.format(h=h, x= my_trunc(x), y= my_trunc(y),k1= my_trunc(k1)))
    print('K2 : {h}*f({x},{y}) = {k2}'.format(h=h, x= my_trunc(x+(h/2)), y= my_trunc(y+(k1/2)),k2= my_trunc(k2)))
    print('K3 : {h}*f({x},{y}) = {k3}'.format(h=h, x= my_trunc(x+(h/2)), y= my_trunc(y+(k2/2)), k3= my_trunc(k3)))
    print('K4 : {h}*f({x},{y}) = {k4}'.format(h=h, x= my_trunc(x+h), y= my_trunc(y+k3),k4= my_trunc(k4)))
    print('Answer ', final_ans)

In [ ]:
rk_4(x0,y0,h)

K1 : 0.5*f(0.0,1.0) = 0.5
K2 : 0.5*f(0.25,1.25) = 0.4615
K3 : 0.5*f(0.25,1.2307) = 0.4603
K4 : 0.5*f(0.5,1.4603) = 0.395
Answer  1.4564

In [ ]:
rk_4(0.05,1.0498,0.05)

K1 : 0.05*f(0.05,1.0498) = 0.0497
K2 : 0.05*f(0.075,1.0746) = 0.0495
K3 : 0.05*f(0.075,1.0745) = 0.0495
K4 : 0.05*f(0.1,1.0993) = 0.0491
Answer  1.0992

# Calculating RK Method of second order (calculate separately for each increment in h)

In [ ]:
#Write function here
def func(x,y):
    output = 3*x + y**2
    return output

In [ ]:
x0 = float(input('Enter the value of x0 '))
y0 = float(input('Enter the value of y0 '))
h = float(input('Enter the value of h '))

Enter the value of x0 1
Enter the value of y0 1.2
Enter the value of h 0.1

In [ ]:
def rk_2(x,y,h, decimals=4):
    """"
    This function calculates the RK method of 2nd order
    Inputs:
    x = x0 of the function (given in the question)
    y = y0 of the function (given in the question)
    h = h of the function (given in the question or calculate yourself)
    decimals = number of decimal places (optional). Default value = 4
    prints the value of k1, k2 and final answer of the function truncated up to 4 decimal places
    """
    k1 =  h*func(x,y)
    k2 = h*func(x+h, y+k1)
    factor = 10**decimals
    k1 = math.trunc(k1*factor)/factor
    k2 = math.trunc(k2*factor)/factor
    final_ans = y+(0.5*(k1+k2))
    print('K1 : {h}*f({x},{y}) = {k1}'.format(x=x, y=y, h=h, k1= my_trunc(k1)))
    print('K2 : {h}*f({x},{y}) = {k2}'.format(x= my_trunc(x+h), y= my_trunc(y+k1), h=h, k2= my_trunc(k2)))
    print('Final Ans: ', my_trunc(final_ans))

In [ ]:
rk_2(x0,y0,h)

K1 : 0.1*f(1.0,1.2) = 0.4439
K2 : 0.1*f(1.1,1.6439) = 0.6002
Final Ans:  1.722

In [ ]:
rk_2(1.1,1.7221,0.1)

K1 : 0.1*f(1.1,1.7221) = 0.6264
K2 : 0.1*f(1.2,2.3485) = 0.9116
Final Ans:  2.4911

# Milne's Predictor and Corrector Method

In [ ]:
#Write function here 
def func(x,y):
    output = (2-(y**2))/(5*x)
    return output

In [ ]:
x0 = float(input('Enter the values for x0 '))
y0=  float(input('Enter the values for y0 '))
x1 = float(input('Enter the values for x1 '))
y1=  float(input('Enter the values for y1 '))
x2 = float(input('Enter the values for x2 '))
y2=  float(input('Enter the values for y2 '))
x3 = float(input('Enter the values for x3 '))
y3=  float(input('Enter the values for y3 '))
x4 = float(input('Enter the values for x4 '))
h=x1-x0

Enter the values for x0 4
Enter the values for y0 1
Enter the values for x1 4.1
Enter the values for y1 1.0049
Enter the values for x2 4.2
Enter the values for y2 1.0097
Enter the values for x3 4.3
Enter the values for y3 1.0143
Enter the values for x4 4.4

In [ ]:
def milnes_predictor_corrector(x0,x1,x2,x3,x4,y0,y1,y2,y3,h):
    """"
    This function calculates the Milne's predictor and corrector method
    """
    f0 = my_trunc(func(x0,y0))
    f1 = my_trunc(func(x1,y1))
    f2 = my_trunc(func(x2,y2))
    f3 = my_trunc(func(x3,y3))
    x_list = [x0,x1,x2,x3]
    func_list = [f0,f1,f2,f3]
    milne_df = {'X':x_list, 'f(x)':func_list}
    milne_df = pd.DataFrame(milne_df)
    milne_df = milne_df.style.hide_index()
    y4p = y0 + ((4*h)/3)*((2*f1)-f2+(2*f3))
    f4 = func(x4,y4p)
    y4c = y2 + (h/3)*(f2+(4*f3)+f4)
    display(milne_df)
    print('The value of y4p is {y4p}'.format(y4p = my_trunc(y4p)))
    print('The value of f({x},{y}) at x4 is {f4}'.format(x=x4, y=my_trunc(y4p), 
                                                         f4 = my_trunc(f4)))
    print('The value of y4c is {y4c}'.format(y4c = my_trunc(y4c)))

In [ ]:
milnes_predictor_corrector(x0,x1,x2,x3,x4,y0,y1,y2,y3,h)

The value of y4p is 1.0186
The value of f(4.4,1.0186) at x4 is 0.0437
The value of y4c is 1.0187

# Trapezoidal Rule

In [ ]:
def func(x):
    output = math.sqrt(math.sin(x)+math.cos(x))
    return output

In [ ]:
x0 = float(input('Enter the lower limit '))
x = float(input('Enter the upper limit '))
n = float(input('Enter the number of intervals '))

Enter the lower limit 0
Enter the upper limit 2
Enter the number of intervals 8

In [ ]:
h = (x-x0)/n
x_list = np.arange(start = x0, stop = x+h, step = h)
func_list = []
for i in range(len(x_list)):
    func_list.append(my_trunc(func(x_list[i])))
trapezoidal_df = pd.DataFrame()
trapezoidal_df['x'] = x_list
trapezoidal_df['f(x)'] = func_list
trapezoidal_df

      x    f(x)
0  0.00  1.0000
1  0.25  1.1028
2  0.50  1.1649
3  0.75  1.1888
4  1.00  1.1754
5  1.25  1.1244
6  1.50  1.0335
7  1.75  0.8976
8  2.00  0.7022

In [ ]:
sum_end = my_trunc(func_list[0] + func_list[len(func_list)-1])
sum_remaining = my_trunc(np.sum(func_list[1:-1]))
ans = my_trunc((h/2)*(sum_end + 2*(sum_remaining)))
print('ans = {h}/2 * ({sum_end} + 2*({sum_remaining})) = {ans}'.format(h = h, sum_end = sum_end, sum_remaining = sum_remaining,
                                                                      ans = ans))

ans = 0.25/2 * (1.7022 + 2*(7.6874)) = 2.1346

# Simpson's 1/3  Rule

In [ ]:
def func(x):
    output = 1/((4*x)+5)
    return output

In [ ]:
x0 = float(input('Enter the lower limit '))
x = float(input('Enter the upper limit '))
n = float(input('Enter the number of intervals '))

Enter the lower limit 0
Enter the upper limit 5
Enter the number of intervals 8

In [ ]:
h = (x-x0)/n
x_list = np.arange(start = x0, stop = x+h, step = h)
func_list = []
for i in range(len(x_list)):
    func_list.append(my_trunc(func(x_list[i])))
simpson_df = pd.DataFrame()
simpson_df['X'] = x_list
simpson_df['f(X)'] = func_list
simpson_df

       X    f(X)
0  0.000  0.2000
1  0.625  0.1333
2  1.250  0.1000
3  1.875  0.0800
4  2.500  0.0666
5  3.125  0.0571
6  3.750  0.0500
7  4.375  0.0444
8  5.000  0.0400

In [ ]:
h = (x-x0)/n
sum_end = my_trunc(func_list[0] + func_list[len(func_list)-1])
sum_even_list = []
sum_odd_list = []
for i in range(1, len(func_list)-1):
    if i%2 == 0:
        sum_even_list.append(func_list[i])
    else:
        sum_odd_list.append(func_list[i])
sum_even = my_trunc(np.sum(sum_even_list))
sum_odd = my_trunc(np.sum(sum_odd_list))
ans = my_trunc((h/3)*(sum_end + 2*(sum_even)+4*(sum_odd)))
print('ans = {h}/3 * ({sum_end} + 2*({sum_even}) + 4*({sum_odd}))= {ans}'.format(h = h, sum_end = sum_end, sum_even = sum_even, 
                                                                          sum_odd = sum_odd, ans = ans))

ans = 0.625/3 * (0.24 + 2*(0.2166) + 4*(0.3147))= 0.4025

# Simpson's 3/8 rule

In [ ]:
def func(x):
    output = math.sqrt(1-(8*(x**3)))
    return output

In [ ]:
x0 = float(input('Enter the lower limit '))
x = float(input('Enter the upper limit '))
n = float(input('Enter the number of intervals '))

Enter the lower limit 0
Enter the upper limit 0.3
Enter the number of intervals 6

In [ ]:
h = (x-x0)/n
x_list = np.arange(start = x0, stop = x+h, step=h)
func_list = []
for i in range(len(x_list)):
    func_list.append(my_trunc(func(x_list[i])))
simpson3_8_df = pd.DataFrame()
simpson3_8_df['x'] = x_list
simpson3_8_df['f(x)'] = func_list
simpson3_8_df

      x    f(x)
0  0.00  1.0000
1  0.05  0.9994
2  0.10  0.9959
3  0.15  0.9864
4  0.20  0.9674
5  0.25  0.9354
6  0.30  0.8854

In [ ]:
sum_3 = []
sum_remaining = []
sum_end = my_trunc(func_list[0] + func_list[len(func_list)-1])
for i in range(1, len(func_list)-1):
    if i % 3 == 0:
        sum_3.append(func_list[i])
    else:
        sum_remaining.append(func_list[i])
sum_num_3 = my_trunc(np.sum(sum_3))
sum_num_remaining = my_trunc(np.sum(sum_remaining))
ans = my_trunc((3*h/8)*(sum_end + 3*(sum_num_remaining)+2*(sum_num_3)))
print('ans = (3*{h})/8 * ({sum_end} + 3*({sum_num_remaining})+ 2*({sum_num_3})) = {ans}'.format(h=h, sum_end = sum_end,
                                                sum_num_remaining = sum_num_remaining, sum_num_3 = sum_num_3, ans=ans))

ans = (3*0.049999999999999996)/8 * (1.8854 + 3*(3.8981)+ 2*(0.9864)) = 0.2916

# Boole's Rule

In [ ]:
def func(x):
    output = 1+(math.exp(-x)*math.sin(4*x))
    return output

In [ ]:
x0 = float(input('Enter the lower limit '))
x = float(input('Enter the upper limit '))
n = float(input('Enter the number of intervals '))

Enter the lower limit 0
Enter the upper limit 1
Enter the number of intervals 8

In [ ]:
h = (x-x0)/n
x_list = np.arange(start = x0, stop = x+h, step = h)
func_list = []
for i in range(len(x_list)):
    func_list.append(my_trunc(func(x_list[i])))
boole_df = pd.DataFrame()
boole_df['x'] = x_list
boole_df['f(x)'] = func_list
boole_df

       x    f(x)
0  0.000  1.0000
1  0.125  1.4230
2  0.250  1.6553
3  0.375  1.6855
4  0.500  1.5515
5  0.625  1.3203
6  0.750  1.0666
7  0.875  0.8537
8  1.000  0.7215

In [ ]:
h = (x-x0)/n
zero = func_list[0]
first = func_list[1]
second = func_list[2]
third = func_list[3]
fourth = func_list[4]
if n == 4:
    ans = my_trunc(((2*h)/45)*(7*(zero)+ 32*(first)+ 12*(second)+ 32*(third)+ 14*(fourth)))
elif n == 8:
    fifth = func_list[5]
    sixth = func_list[6]
    seventh = func_list[7]
    eigth = func_list[8]
    ans = my_trunc(((2*h)/45)*(7*(zero)+ 32*(first)+ 12*(second)+ 32*(third)+ 14*(fourth)+ 32*(fifth)+12*(sixth)+32*(seventh)+14*(eigth)))

print(ans)

1.3362

# Weddle's Rule

In [ ]:
def func(x):
    output = math.log(x, np.e) #log(num, base)
    return output

In [ ]:
x0 = float(input('Enter the lower limit '))
x = float(input('Enter the upper limit '))
n = 6

Enter the lower limit 4
Enter the upper limit 5.2

In [ ]:
h = (x-x0)/n
x_list = np.arange(start = x0, stop = x+h, step = h)
func_list = []
for i in range(len(x_list)):
    func_list.append(my_trunc(func(x_list[i])))
weddle_df = pd.DataFrame()
weddle_df['x'] = x_list
weddle_df['f(x)'] = func_list
weddle_df

     x    f(x)
0  4.0  1.3862
1  4.2  1.4350
2  4.4  1.4816
3  4.6  1.5260
4  4.8  1.5686
5  5.0  1.6094
6  5.2  1.6486

In [ ]:
ans = ((3*h)/10)*(func_list[0]+ 5*(func_list[1])+ 1*(func_list[2])+ 6*(func_list[3])+ 1*(func_list[4]) + 5*(func_list[5]) +
                  2*(func_list[6]))

print(my_trunc(ans))

1.9266

# Eulers

In [ ]:
def func(x,y):
    output = (-x)*(y**2)
    return output

In [ ]:
x0 = float(input('Enter the lower limit '))
x = float(input('Enter the upper limit '))
y0 = float(input('Enter the value of y0 '))
n = float(input('Enter the value of n '))

Enter the lower limit 2
Enter the upper limit 2.2
Enter the value of y0 1
Enter the value of n 4

In [ ]:
h = (x-x0)/(n)
x_list = np.arange(start = x0, stop = x+h, step = h)
for i in range(len(x_list)):
    x_list[i] = float(x_list[i])
ans_list = []
def eulers(x,y0,h):
    for i in range(len(x_list)-1):
        yn = y0+ h*func(x_list[i],y0)
        y0 = yn
        ans_list.append(yn)
        print('y{n} = {ans}'.format(ans=my_trunc(yn), n=i+1))

In [ ]:
eulers(2,1,0.05)

y1 = 0.9
y2 = 0.8169
y3 = 0.7468
y4 = 0.6869

Steps to convert x_list and func_list into a dataframe 

```
df_name = pd.DataFrame() #initializing a dataframe
df_name['x'] = x_list 
df_name['f(x)'] = func_list
df_name 
```

This is similar to 
```
df_name = data.frame()
df_name$x = x_list
df_name$f(x) = func_list
df_name
```
In R